/* Links */
a,
a:focus,
a:hover {
  color: #FF3B3F;
  font-size: 20px

}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #333;
  border: 1px solid #fff;

}
h2 {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 40px;
	line-height: 100px;
}
h3 {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 30px;
	line-height: 25px;
}
p {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 25px;
}

/* Base structure */

html,
body {
  height: 100%;
  background-color: #fff;
  background-image: url("images/cream.png");
  background-attachment: fixed;
}
body {
  color: #333;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 10px 10px 10px 10px;
}

/* Header */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;

}
.masthead-nav > li + li {
  margin-left: 10px;
}
.masthead-nav > li > a {
  padding-right: 100px;
  padding-left: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #333; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #333;
  border-bottom-color: #333;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}
/* Cover */

.cover {
  padding: 0px;
}
.cover .btn-lg {
  padding: 0px 0px;
  font-weight: bold;
  position: relative;
}

#rsg {
  z-index: 1;
}

/* Affix and center */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0px;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .cover-container {
   width: 100%; /* Must be percentage or pixels for horizontal alignment */

  }
}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
   max-width: 1170px; /*changing this to 100% probably fixes the issue*/
  }
}

.marketing .col-lg-4 {
  margin-bottom: 10px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes */

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
  border: 1px solid #333
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
/* header jumbotron */
.jumbotronhead{
  width:100%;
  background-color: #CAEBF2;

}

/* div jumbotron */
.jumbotron{
  width:100%;
  background-color: #E9E9E9;
}

#box {
 opacity: 0.8;
}
